name: Deploy SampleHouse

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SSH_PRIVATE_KEY: ${{ secrets.DEVOPS_KEY }}   # 正确！全局 env
    strategy:
      matrix:
        host: 
          - 3.81.134.226
          - 13.51.156.4
    steps:
      - uses: actions/checkout@v4

      - name: Build & Push Docker
        run: |
          docker build -t happycharlie2020/samplehouse:${{ github.sha }} .
          echo "${{ secrets.DOCKER_PASS }}" | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          docker push happycharlie2020/samplehouse:${{ github.sha }}

      - name: Debug Key
        run: |
          echo "Key first 50: $SSH_PRIVATE_KEY" | cut -c1-50

      - name: Deploy to Web Node ${{ matrix.host }}
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ matrix.host }}
          username: ec2-user
