name: Deploy SampleHouse

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build & Push Docker
        run: |
          docker build -t ${{ secrets.DOCKER_USER }}/samplehouse:${{ github.sha }} .
          echo "${{ secrets.DOCKER_PASS }}" | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          docker push ${{ secrets.DOCKER_USER }}/samplehouse:${{ github.sha }}

      - name: Deploy to Web Nodes
        uses: appleboy/ssh-action@v0.1.10
        env:
          WEB_IPS: "3.81.134.226,13.51.156.4"
        with:
          host: ${{ matrix.host }}
          username: ec2-user
          key: ${{ secrets.DEVOPS_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USER }}/samplehouse:${{ github.sha }}
            docker stop app || true
            docker rm app || true
            docker run -d --name app -p 3000:3000 \
              -e DB_HOST=35.222.230.74 \
              ${{ secrets.DOCKER_USER }}/samplehouse:${{ github.sha }}
    strategy:
      matrix:
        host: [3.81.134.226, 13.51.156.4]
