name: Deploy SampleHouse

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      SSH_PRIVATE_KEY: ${{ secrets.DEVOPS_KEY }}
    strategy:
      matrix:
        host: 
          - 3.81.134.226
          - 13.51.156.4
    steps:
      - uses: actions/checkout@v4

      - name: Build & Push Docker
        run: |
          docker build -t happycharlie2020/samplehouse:${{ github.sha }} .
          echo "${{ secrets.DOCKER_PASS }}" | docker login -u ${{ secrets.DOCKER_USER }} --password-stdin
          docker push happycharlie2020/samplehouse:${{ github.sha }}

      - name: Deploy to Web Node ${{ matrix.host }}
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ matrix.host }}
          username: ec2-user
          key: ${{ env.SSH_PRIVATE_KEY }}
          script: |
            echo "SSH to $(hostname)"
            docker pull happycharlie2020/samplehouse:${{ github.sha }}
            docker stop app || true
            docker rm app || true
            docker run -d --name app -p 3000:3000 \
              -e DB_HOST=35.222.230.74 \
              happycharlie2020/samplehouse:${{ github.sha }}
