      - name: Deploy to Web Node ${{ matrix.host }}
        env:
          INPUT_KEY: ${{ secrets.SSH_KEY_TEMP }}   # 使用新名称
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ matrix.host }}
          username: ec2-user
          script: |
            echo "SSH to $(hostname)"
            docker pull happycharlie2020/samplehouse:${{ github.sha }}
            docker stop app || true
            docker rm app || true
            docker run -d --name app -p 3000:3000 \
              -e DB_HOST=35.222.230.74 \
              happycharlie2020/samplehouse:${{ github.sha }}
